@import './resources/utilidades';
@import './resources/reseteo';
@import './resources/generales';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;500&display=swap');


@import './resources/header';
@import './sections/index';
@import './sections/noticias';
@import './sections/galeria';
@import './sections/tienda';
@import './sections/socio';
@import './resources/footer';

// :root {
//     --fuente: 'Quicksand', sans-serif;
//     --fuentetitulo: 'Bebas Neue', cursive;
// }




/* .container-fluid{
    background-color: blue;
} */






// .articulos_contacto {

// }




/* .articulo1_subtitulo {

} */

// .articulos_subtitulo2 {

// }

// .articulos_lista {

// }

/* HACETE SOCIO */
/* FOOTER */


/* .footer_lista li a:hover {
    transform: scaleX(1.2);
} */



@media (max-width: 795px) {

    .header h3 {
        display: none;
    }

    .header_logo {
        width: 75px;

    }

    .header_lista {
        list-style: none;
        display: flex;
        margin-right: 30px;
        gap: 30px;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        font-family: var(--fuentetitulo);
        font-weight: lighter;
        font-size: 20px;
    }

    .main_foto img {
        width: 400px;

    }

    .main_noticias {
        display: grid;
        /* background-color: grey; */
        grid-template-areas: "noticias_agenda noticias_agenda"
            "noticia1        noticia2";
        /* grid-template-columns: ; */
        gap: 10px;
        padding: 20px;
    }

    .noticias_agenda {
        grid-area: noticias_agenda;
        overflow: hidden;
        width: 90%;
    }

    .noticia1 {
        grid-area: noticia1;
        /* width: 45vh; */
    }

    .noticia2 {
        grid-area: noticia2;
        /* width: 45vh; */
    }

    .footer_maps iframe {
        width: 200px;
        height: 125px;

    }

    .footer_redes :hover {
        font-size: 13px;
        background-color: navy;
    }

    .footer_redes li {
        list-style: none;
        color: white;
        padding: 3px;
        margin: 5px;
        font-size: 10px;
        font-family: var(--fuente);

    }


    .articulos {
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "articulo1 articulo1 articulo1 articulo1 articulo2 articulo2 articulo2 articulo2"
            "articulo1 articulo1 articulo1 articulo1 articulo2 articulo2 articulo2 articulo2"
            "articulo1 articulo1 articulo1 articulo1 articulo3 articulo3 articulo4 articulo4"
            "articulo1 articulo1 articulo1 articulo1 articulo3 articulo3 articulo4 articulo4";
    }

    .articulo1 {
        grid-area: articulo1;
    }

    .articulo2 {
        grid-area: articulo2;
    }

    .articulo3 {
        grid-area: articulo3;
    }

    .articulo4 {
        grid-area: articulo4;
    }

}

@media(max-width:420px) {
    header {
        display: flex;
        flex-direction: column;
        align-content: center;
        background-color: blue;
        height: 10vh;
    }

    .header_logo {
        display: none;
    }


    .header_lista {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        flex-wrap: wrap;
        font-family: var(--fuentetitulo);
        font-weight: lighter;
        font-size: 15px;

    }

    .header_listamobile li {
        color: #f1f02b;
    }

    .header h3 {
        display: flex;
        justify-content: center;
    }

    /* .navbar-toggler-icon {
        color: white;
    } */

    .container-fluid {
        color: white;
        background-color: transparent;

        h3 {
            font-size: 28px;
            align-items: flex-start;
        }

        #navbarNav {
            /* display: flex; */
            color: white;
            flex-direction: column;
            width: 100%;
            text-align: center;

            ul {
                li {
                    a {
                        color: white;
                    }
                }
            }
        }
    }

    .main_portada {
        width: 100%;
        .main_foto {
            width: 78%;
            img{
                width: 300px;
                height: 200px;
            }
        }
    
        .main_texto {
            margin: 1rem;
        }
    
    }


    .main_noticias {
        display: flex;
        flex-direction: column;
        /* background-color: grey; */
        // grid-template-areas: "noticias_agenda "
        //     "noticia1"
        //     "noticia2";
        // grid-template-columns: 1fr;
        // grid-row: auto;
        gap: 10px;
        padding: 20px;
        align-items: center;
        justify-content: center;
        justify-items: center;

        .main_noticia1 {
            width: 95%;
            .noticias_foto{
                width: 250px;
                height: 250px;
            }
        }

        .main_noticia2 {
            width: 95%;
            .noticias_foto{
                width: 250px;
                height: 250px;
            }
        }

        .noticias_agenda {
            overflow: hidden;
            font-size: 12px;
            width: 100%;
            display: flex;
            align-items: center;

            .tabla {
                align-items: center;
                .columna2{
                    li{
                        padding-top: 20px;
                        padding-bottom: 20px;
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                }
            }
        }

    }

    .noticias {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 2rem;

        .noticia1 {
            width: 100%;
        }

        .noticia2 {
            width: 100%;
        }

        .noticia3 {
            width: 100%;
        }
    }

    .imagenes {
        display: flex;
        flex-direction: column;

        .imagenes_amistoso {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                width: 250px;
            }
        }

        .imagenes_entrenamiento {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                width: 250px;
            }
        }


    }

    .articulos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .articulo1 {
            width: 80vw;
        }

        .articulo2 {
            width: 80vw
        }

        .articulo3 {
            width: 80vw;
        }

        .articulo4 {
            width: 80vw;
        }
    }

    .socio {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
            url(../Imagenes/socio.png);
        background-size: cover;

        h1 {
            color: white;
        }

        .socio_formulario {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h4 {
                color: white;
            }

            label {
                color: white;
            }
        }

        .socio_imagen {
            img {
                margin: 2rem;
                width: 40vw;
            }
        }
    }

    footer {
        display: flex;
        align-items: center;
    }

    /* .footer_lista{
        margin: 1rem;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 10px;
    } */
    .footer_maps iframe {
        width: 150px;
        height: 120px;

    }

    .disabled {
        display: block;
        visibility: visible;

    }

    .active {
        display: none;
        visibility: hidden;
    }
}


/* pruebas */



// .carousel {
//     width: 80vw;
// }

// .imagenes {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
// }

// .imagenes_amistoso {
//     display: flex;
//     flex-direction: row;
//     height: 20vh;
//     gap: 1rem;
//     margin: 1rem;
//     flex-wrap: wrap;
// }

// .amistoso {
//     width: 350px;
// }

.boton_tienda {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.pruebas {
    width: 70vw;
    display: flex;
    margin-left: 10rem;

}