@import './resources/utilidades';
@import './resources/reseteo';
@import './resources/generales';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;500&display=swap');


@import './resources/header';
@import './sections/index';
@import './sections/noticias';
@import './sections/galeria';
@import './sections/tienda';
@import './sections/socio';
@import './resources/footer';

@media(max-width:420px) {
    header {
        display: flex;
        flex-direction: column;
        align-content: center;
        background-color: blue;
        height: 10vh;
    }

    .header_logo {
        display: none;
    }


    .header_lista {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        flex-wrap: wrap;
        font-family: var(--fuentetitulo);
        font-weight: lighter;
        font-size: 15px;

    }

    .header_listamobile li {
        color: #f1f02b;
    }

    .header h3 {
        display: flex;
        justify-content: center;
    }

    .container-fluid {
        color: white;
        background-color: transparent;

        h3 {
            font-size: 28px;
            align-items: flex-start;
        }

        #navbarNav {
            color: white;
            flex-direction: column;
            width: 100%;
            text-align: center;

            ul {
                li {
                    a {
                        color: white;
                    }
                }
            }
        }
    }

    .main_portada {
        width: 100%;
        .main_foto {
            width: 78%;
            img{
                width: 300px;
                height: 200px;
            }
        }
    
        .main_texto {
            margin: 1rem;
        }
    
    }


    .main_noticias {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        align-items: center;
        justify-content: center;
        justify-items: center;

        .main_noticia1 {
            width: 95%;
            .noticias_foto{
                width: 250px;
                height: 250px;
            }
        }

        .main_noticia2 {
            width: 95%;
            .noticias_foto{
                width: 250px;
                height: 250px;
            }
        }

        .main_noticia3 {
            width: 95%;
            .noticias_foto{
                width: 250px;
                height: 250px;
            }
        }
        .noticias_agenda {
            overflow: scroll;
            font-size: 12px;
            width: 100%;
            display: flex;
            align-items: center;

            .tabla {
                display: flex;
                align-items: center;
                .columna2{
                    li{
                        padding: 5px;
                    }
                }
            }
        }

    }

    .noticias {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 2rem;

        .noticia1 {
            width: 100%;
        }

        .noticia2 {
            width: 100%;
        }

        .noticia3 {
            width: 100%;
        }
    }

    .imagenes {
        display: flex;
        flex-direction: column;

        .imagenes_amistoso {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                width: 250px;
            }
        }

        .imagenes_entrenamiento {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                width: 250px;
            }
        }

    }

    .articulos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .articulo1 {
            width: 80vw;
        }

        .articulo2 {
            width: 80vw
        }

        .articulo3 {
            width: 80vw;
        }

        .articulo4 {
            width: 80vw;
        }
    }

    .socio {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
            url(../Imagenes/socio.png);
        background-size: cover;

        h1 {
            color: white;
        }

        .socio_formulario {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h4 {
                color: white;
            }

            label {
                color: white;
            }
        }

        .socio_imagen {
            img {
                margin: 2rem;
                width: 40vw;
            }
        }
    }

    footer {
        display: flex;
        align-items: center;
    }

    .footer_maps iframe {
        width: 150px;
        height: 120px;
    }

    .disabled {
        display: block;
        visibility: visible;

    }

    .active {
        display: none;
        visibility: hidden;
    }
}
.boton_tienda {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.pruebas {
    width: 70vw;
    display: flex;
    margin-left: 10rem;

}