.imagenes {
    width: 100%;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .imagenes_entrenamiento {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin: 1rem;
        flex-wrap: wrap;
        justify-content: center;

        img {
            width: 20vw;
        }
    }

    .imagenes_amistoso {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin: 1rem;
        flex-wrap: wrap;
        justify-content: center;

        img {
            width: 20vw;
        }
    }

    h3 {
        font-family: $fuente;
        display: block;
        justify-content: center;
        font-weight: bolder;
        font-style: italic;
    }
}