
.boton {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;

    button {
        img {
            width: 50px;
        }
    }
    .card{
        position: sticky;
        left: 0;
        top: 60px;
        display: flex;
        align-items: center;
        border: 5px white solid;
    }
}

.main_portada {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        text-align: center;
        font-family: $fuentetitulo;
    }

    .main_foto {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 70vw;

        }
    }

    p {
        font-style: italic;
    }

    a {
        text-decoration: none;
        font-weight: bolder;
        font-family: $fuente;
        color: black;
        font-style: italic;
        font-size: 16px;
    }

}

@mixin caja-contenedora() {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    width: 25vw;
    border-radius: 10px;
    gap: 10px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}


.main_titulo {
    font-family: $fuentetitulo;
    font-size: 2rem;
}

.main_noticias {
    display: flex;
    grid-template-areas: "noticias_agenda noticias_agenda"
        "noticia1 noticia2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 20px;
    width: 100%;

    .main_noticia1 {
        @include caja-contenedora();

        img {
            height: 300px;
            width: 300px;
            border-radius: 10px;
        }

        h3 {
            text-decoration: underline;
            font-family: $fuentetitulo;
            font-weight: lighter;
        }

        p {
            font-family: $fuente;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            a {
                text-decoration: none;
                font-weight: bolder;
                font-family: var(--fuente);
                color: black;
                font-style: italic;
                font-size: 13px;
            }
        }

    }

    .main_noticia2 {
        @include caja-contenedora();

        img {
            height: 300px;
            width: 300px;
            border-radius: 10px;
        }

        h3 {
            text-decoration: underline;
            font-family: $fuentetitulo;
            font-weight: lighter;
        }

        p {
            font-family: $fuente;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            a {
                text-decoration: none;
                font-weight: bolder;
                font-family: var(--fuente);
                color: black;
                font-style: italic;
                font-size: 13px;
            }
        }

    }

    .noticias_agenda {
        border: 1px black solid;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40vw;
        height: 500px;
        overflow: scroll;

        h3 {
            font-family: $fuentetitulo;
            margin: 0px;
        }

        li {
            font-family: $fuente;
            list-style: none;
            display: flex;
            align-items: center;
            padding: 0px;

            img {
                padding: 5px;
            }

        }

        .tabla {
            display: flex;
            flex-direction: row;

        }

        .columna1 {

            align-items: flex-start;
            margin: 0px;
            padding: 10px;
        }

        .columna2 {

            align-items: center;
            margin: 0px;
            padding: 10px;

            li {
                gap: 10px;
                padding: 2px;
            }

        }

        .columna3 {
            list-style: none;
            align-items: flex-end;
            margin: 0px;
            padding: 10px;
        }

        .colegiales {
            font-weight: bolder;
        }
    }

}