@mixin caja_noticias(){
    width: 25vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
}



.noticias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
    justify-content: space-evenly;
    .noticia1{
        background-color: rgb(255, 173, 173);
        @include caja_noticias();
        h3{
            margin: 15px;
        }
    
    }
    .noticia2{
        display: flex;
        flex-direction: column;

        @include caja_noticias();
        background-color: #A9DEF9;
        h3{
            margin-left: 70px;
            margin-top: 15px
        }
    }
    .noticia3{
        @include caja_noticias();
        background-color: #FCF6BD;
        h3{
            margin-left: 50px;
            margin-top: 15px
        }
    }
}





