@mixin caja_articulos() {
    width: 25vw;
    border: 1px black solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.articulos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;

    .articulo1 {
        @include caja_articulos();

        a {
            margin: 1rem;
            font-family: $fuente;
            font-weight: bolder;
            color: white;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            background-color: blue;
            display: flex;
        }
    }

    .articulo2 {
        @include caja_articulos();

        a {
            margin: 1rem;
            font-family: $fuente;
            font-weight: bolder;
            color: white;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            background-color: blue;
            display: flex;
        }
    }

    .articulo3 {
        @include caja_articulos();

        a {
            margin: 1rem;
            font-family: $fuente;
            font-weight: bolder;
            color: white;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            background-color: blue;
            display: flex;
        }
    }

    .articulo4 {
        @include caja_articulos();

        a {
            margin: 1rem;
            font-family: $fuente;
            font-weight: bolder;
            color: white;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            background-color: blue;
            display: flex;
        }
    }
}