main {
    position: relative;
}



.main_titulos {
    font-family: $fuentetitulo;
}

h1{
    font-family: $fuentetitulo;
    display: flex;
    justify-content: center;
}

.disabled {
    display: none;
    visibility: hidden;
}

.active {
    display: block;
    visibility: visible;
}


.boton {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;

    button {
        img {
            width: 50px;
        }
    }
    .card{
        position: absolute;
        left: 0;
        top: 60px;
        display: flex;
        align-items: center;
        border: 5px white solid;
    }
}
