header {
    background-color: rgb(0, 0, 255);
    /* width: 100vh; */
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar {
        background-color: blue;
    }

    .header_lista {
        list-style: none;
        display: flex;
        margin-right: 30px;
        gap: 30px;
        justify-content: flex-end;
        align-items: center;
        /* flex-wrap: wrap; */
        font-family: $fuentetitulo;
        font-weight: lighter;
        font-size: 35px;
        transition: 5s all;

        li {
            &:hover {
                transform: scale(1.2);
            }

            a {
                color: white;
                text-decoration: none;

            }
        }

    }

    .header_logo {
        width: 110px;
    }

    .header_lista_act {
        font-weight: bold;
    }

}

.header_logos {
    list-style: none;
    display: flex;
    margin-right: 30px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    font-family: $fuentetitulo;
    // font-weight: lighter;
    // font-size: 35px;
    // transition: 5s all;

    li {
        img {
            width: 20px;
        }
    }
}